@page
@model Final_Project.Pages_Players.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Player.PlayerID" />
            <div class="form-group">
                
                <label asp-for="Player.Name" class="control-label"></label>
                <input asp-for="Player.Name" class="form-control" />
                <span asp-validation-for="Player.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Player.Age" class="control-label"></label>
                <input asp-for="Player.Age" class="form-control" />
                <span asp-validation-for="Player.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Player.BA" class="control-label"></label>
                <input asp-for="Player.BA" class="form-control" value="@Model.Player.BA.ToString("F3")" />
                <span asp-validation-for="Player.BA" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Player.HR" class="control-label"></label>
                <input asp-for="Player.HR" class="form-control" />
                <span asp-validation-for="Player.HR" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Player.KRate" class="control-label"></label>
                <input asp-for="Player.KRate" class="form-control" />
                <span asp-validation-for="Player.KRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Player.WalkRate" class="control-label"></label>
                <input asp-for="Player.WalkRate" class="form-control" />
                <span asp-validation-for="Player.WalkRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
