@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Baseball Stat Service</h1>
    <p>To begin press below</p>
    <div>
    <a asp-page="./Players/Index">To Player List</a>
    </div>
</div>
